.gradle/*
.idea/*
build/*

gradlew
*.bat
local.properties
*.apk
*.iml
classes/*
target/*
plugin/*
gen-external-apklibs/*

captures/*
freeline_core/*
freeline.py
freeline/*

*.DS_Store

freeline_project_description.json
/local_build.sh

apk-files.txt
/app/app-simple-release.ap
